apiVersion: v1
kind: Service
metadata:
  name: {{ application_name }}
  labels:
    app: {{ application_name }}
spec:
  selector:
    app: {{ application_name }}
  ports:
  - port: {{ application_port }}
    targetPort: {{ application_port }}
    protocol: TCP
  type: ClusterIP 